# Project exclude paths
/.gradle/
/01-java-basics/02-data-types/out/
/01-java-basics/02-data-types/out/production/classes/
/01-java-basics/04-control-flow/out/
/01-java-basics/04-control-flow/out/production/classes/
/01-java-basics/05-bitwise-operations/out/
/01-java-basics/05-bitwise-operations/out/production/classes/
/01-java-basics/06-coding-practice/out/
/01-java-basics/06-coding-practice/out/production/classes/
/01-java-basics/07-coding-practice/out/
/01-java-basics/07-coding-practice/out/production/classes/
/02-java-oop/01-class/build/
/02-java-oop/03-getters/build/
/02-java-oop/04-setters/build/
/02-java-oop/05-inner-classes/build/
/02-java-oop/06-record/build/
/02-java-oop/07-methods/build/
/02-java-oop/08-enums/build/
/02-java-oop/HOMEWORK/build/
/03-unit-testing/01-unit-testing/build/
/04-polymorphism-inheritance-abstraction/01-handling-exceptions/build/
/04-polymorphism-inheritance-abstraction/02-throwing-exceptions/build/
/04-polymorphism-inheritance-abstraction/03-polymorphism/build/
/04-polymorphism-inheritance-abstraction/04-encapsulation/build/
/04-polymorphism-inheritance-abstraction/05-inheritance/build/
/04-polymorphism-inheritance-abstraction/06-abstraction/build/
/05-collections/01-collections/build/
/05-collections/02-collections-api/build/